.slider {
  position: relative;
}
.current {
  cursor: row-resize;
  font-size: x-large;
  margin-top: 2px;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.guide-up, .guide-down {
  font-size: small;
  position: absolute;
  top: 0;
  z-index: -10;
}
